.App {
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: green;
  text-transform: capitalize;
  font-family: 'Anton', sans-serif;
}
input[type=number]{
  left: 50%;
  font-size: 100%;
  width: 99%;
  height: 30px;
  margin-left: .5%;
  border-radius: 20px;
  border: 0;
  box-sizing: border-box;
  text-align: center;
}
input[type=number]:focus{
  outline: none !important;
  background-color: white ;
  border-radius: 20px;
  color: green;
}

button{
  width: 100%;
  background-color: green;
  border: 0px solid;
  padding: 0;
  box-sizing: border-box;
  margin-top: 20px;
  max-height: 30px;
  min-height: 30px;
  margin-bottom: 0%;
  border-radius: 0px 0px 5px 5px;
}
.table{
  text-align: center;
  padding: 0;
  margin: 0px 0px 100px 0px;
  background-color: white;
  width: 100%;
}
.table td{
  font-size: 4vw;
  color: green;
  border-bottom:1px solid black;
  padding-top: 5%;
}
.table tr:nth-child(even){
background-color: #f5f5f5;

}
.container{
  margin-left: 1%;
  background-color: #deebdd;
  background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
  width: 98% ;
  max-width: 1000px;
  color: aliceblue;
  border-radius: 10px;
  text-align: left;
  justify-content: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container h3{
  color: black;
  padding-left: 1%;
  align-self: left;
  margin: 0;
  font-style: italic;
}
.logout{
  margin: none;
  border-radius: 2px;
  height: 12000px;
  margin-top: 0;
  background-color: red;
  color: white;
  margin-top: 5px;
  width: 90%; 
}



@media(min-width: 1000px){

  .container{
    width: 1000px;
    left: calc(50% - 500px);
    position: relative;
  }
  .table{
    width: 1000px;
    min-width: none;
    left: calc(50% - 500px);
    position: relative;
    border-radius: 20px;
    border: 5px solid green;
    margin-bottom: 50px;
  }
  .table td{
    font-size: 200%;
  }
  h1{
   font-size: 30px;
  }
 
}
@media(max-width: 500px ){
  h1{
    font-size: 7vw;
  }
}